@charset "UTF-8";
* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: linear-gradient(45deg, #f7f8c4, #fde9b5);

}
main {
    width: 800px;
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    margin: auto;
    box-shadow: 5px 5px 7px rgb(47, 47, 47);
}
h1{
    color: #616DFF;
    text-align: center;
    text-shadow: 1px 1px 0px #2f367d;
}
h2 {
    color: #de90ff;
}
p {
    text-align: justify;
}