@charset "UTF-8";
body {
            background-color: white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
h1 {
            color: rgb(255, 183, 0);
        
        }
h2 {
    color: rgb(94, 11, 11);
}

p {
    text-align: justify;
}