@charset "UTF-8";

body {
    background-color: #d6fde9;
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    color: #1e402f;
}

h1#inicio {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2 {
    color: #3c805e;
}